.headerContainer {
  align-items: center;
  background: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.appTitleContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-left: 30px;
}

.appTitle {
  color: white;
  cursor: pointer;
  font-size: 35px;
}

.centerText {
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 30px;
}

.signout {
  color: white;
  cursor: pointer;
}
